.header {
    margin: 0;
  }
  
  .headerTitles {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    font-family: "Lora", serif;
    color: #444;
  }
  
  .headerTitleSm {
    position: absolute;
    top: 10%;
    font-size: 35px;
    color: rgb(107, 154, 193);

  }
  
  .headerTitleLg {
    position: absolute;
    top: 13%;
    font-size: 100px;
    color: rgb(107, 154, 193);
  }
  
  .headerImg {
    width: 100vw;
    height: 250px;
    /* margin-top: 10px; */
    object-fit: cover;
  }
  